#include "resource.h"

IDD_QOBUZ_SEARCH DIALOGEX 0, 0, 480, 300
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "Qobuz Search"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Search:", -1, 7, 9, 30, 8
    EDITTEXT        IDC_SEARCH_EDIT, 38, 7, 350, 14, ES_AUTOHSCROLL | WS_TABSTOP
    PUSHBUTTON      "Search", IDC_SEARCH_BTN, 393, 7, 80, 14, WS_TABSTOP

    CONTROL         "Tracks", IDC_TYPE_TRACKS, "Button",
                    BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP, 7, 27, 40, 10
    CONTROL         "Albums", IDC_TYPE_ALBUMS, "Button",
                    BS_AUTORADIOBUTTON | WS_TABSTOP, 52, 27, 40, 10

    LTEXT           "", IDC_STATUS_TEXT, 100, 27, 373, 10

    CONTROL         "", IDC_RESULTS_LIST, "SysListView32",
                    LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | WS_BORDER | WS_TABSTOP | WS_VSCROLL,
                    7, 40, 466, 235

    PUSHBUTTON      "Add to Playlist", IDC_ADD_PLAYLIST, 7, 282, 80, 14, WS_TABSTOP
    PUSHBUTTON      "Play Now", IDC_PLAY_NOW, 92, 282, 60, 14, WS_TABSTOP
    PUSHBUTTON      "Close", IDC_CLOSE_BTN, 397, 282, 76, 14, WS_TABSTOP
END

IDD_QOBUZ_PREFS DIALOGEX 0, 0, 320, 150
STYLE DS_SETFONT | DS_FIXEDSYS | DS_CONTROL | WS_CHILD | WS_VISIBLE
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Auth token:", -1, 7, 9, 55, 8
    EDITTEXT        IDC_PREFS_AUTH_EDIT, 65, 7, 248, 14, ES_AUTOHSCROLL | ES_PASSWORD | WS_TABSTOP

    LTEXT           "Audio quality:", -1, 7, 29, 55, 8
    CONTROL         "", IDC_PREFS_QUAL_CMB, "ComboBox",
                    CBS_DROPDOWNLIST | WS_TABSTOP | WS_VSCROLL, 65, 27, 248, 80

    CONTROL         "Advanced (optional overrides)", -1, "Button",
                    BS_GROUPBOX | WS_GROUP, 7, 50, 306, 58

    LTEXT           "App ID:", -1, 14, 63, 48, 8
    EDITTEXT        IDC_PREFS_APPID_EDT, 65, 61, 241, 14, ES_AUTOHSCROLL | WS_TABSTOP

    LTEXT           "Secret:", -1, 14, 81, 48, 8
    EDITTEXT        IDC_PREFS_SECRET_EDT, 65, 79, 241, 14, ES_AUTOHSCROLL | WS_TABSTOP

    LTEXT           "App ID and Secret are auto-fetched. Set these only if auto-fetch fails.",
                    -1, 14, 98, 292, 8
END
